* {
    margin: 0;
    padding: 0;
}

/* This is header section */
ol {
    /* margin: 10px; */
    padding-top: 20px;
}
li {
    display: inline;
    padding: 10px;
    margin: 20px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;

}
.menu {
    background-image: url(../images/img.jpg);
    height: 800px;
    background-size: cover;
    opacity: 0.8;
}

/* This is about me section */
.about {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}
.love {
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}
.about-text {
    text-align: justify;
    padding: 0px 200px 50px 200px;
    font-size: 1.2rem;
}

/* This is name section */
.name-section {
    text-align: center;
    margin-bottom: 50px;
}
.name-photo {
    display: inline-block;
}
.name-text {
    display: inline-block;
    width: 520px;
    text-align: justify;
    padding: 50px 50px 0px 50px;
    vertical-align: top;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/* This is my work section */
.my-work {
    margin-bottom: 60px;
}
.work {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}
.work-text {
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}
.work-image {
    text-align: center;
    padding: 10px;
    margin: 30px 100px 300px 100px;
    height: 150px;
}
.img-cls {
    padding: 10px;
    width: 260px;
}
.button {
    text-align: center;
}
button {
    text-align: center;
    font-size: 1.5rem;
    border: none;
    background-color: rgba(220, 220, 220, 0.507);
    padding: 15px;
    cursor: pointer;
}

/* This is footer section */
.footer {
    text-align: center;
    padding: 100px;
    background-color: black;
    /* width: 100%; */
    color: white;
    font-size: 20px;
}
